* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  color: #4b3131;
  text-align: center;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* Caption text */
}

.slideshow-container .text {
  color: #f2f2f2;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot .active, .dot .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

.about {
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 100px;
}

.about .pic1 {
  margin-left: 50px;
}

.about .pic1 img {
  float: left;
}

.about .p1 {
  float: right;
  margin-right: 30px;
  width: 50%;
}

.ourcoffee {
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 300px;
  margin-bottom: 300px;
}

.ourcoffee .p2 {
  float: left;
  width: 50%;
  margin-left: 50px;
}

.ourcoffee .pic2 {
  margin-right: 50px;
}

.ourcoffee .pic2 img {
  float: right;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #4b3131;
  text-align: center;
  -webkit-text-decoration: underline #794141;
          text-decoration: underline #794141;
  margin-top: 100px;
}

.coffeemenu {
  text-align: center;
  list-style: none;
  line-height: 50px;
}

.coffeemenu li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
}

.caffeinefreemenu {
  text-align: center;
  list-style: none;
  line-height: 50px;
}

.caffeinefreemenu li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
}

.foodmenu {
  text-align: center;
  list-style: none;
  line-height: 50px;
}

.foodmenu li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
}

.bakedgoodsmenu {
  text-align: center;
  list-style: none;
  line-height: 50px;
  margin-bottom: 300px;
}

.bakedgoodsmenu li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a09090;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

h3 {
  color: #4b3131;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
}

p {
  text-align: center;
}

p span {
  color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-shopping {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
  border: solid 10px #4b3131;
  padding: 10px;
  margin: 100px 20px;
}

.grid-shopping a {
  text-decoration: none;
  color: #794141;
}

.grid-shopping h5 {
  color: #4b3131;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.grid-shopping .price {
  color: #4b3131;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-shopping > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-shopping > div img {
  width: 80%;
}

.grid-itemdetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 40px;
}

.grid-itemdetails img {
  width: 50%;
  margin-left: 25%;
}

.grid-itemdetails h4 {
  color: #4b3131;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}

.grid-itemdetails .itemdetail1, .grid-itemdetails .itemdetail2 {
  color: #4b3131;
  font-size: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-itemdetails > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.row {
  text-align: center;
}

.row .col-md-6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
  padding: 10px 200px;
}

.row .col-md-6 .form-control {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 0px 15px;
  color: #794141;
  margin: 10px;
}

.row .col-md-6 .form-control :focus {
  outline: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
}

.row .col-md-6 .labelname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: grey;
  display: block;
}

.round-black-btn {
  border-radius: 4px;
  background: #794141;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 7px 45px;
  border: solid 2px #794141;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover, .round-black-btn:focus {
  background: transparent;
  color: #794141;
  text-decoration: none;
}

/* Global "table" column settings */
.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}


.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

label {
  color: #aaa;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 50px;
  border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.product .product-image {
  text-align: center;
}

.product .product-image img {
  width: 90%;
  height: 150px;
}

.product .product-details .product-title {
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #4b3131;
  text-align: center;
}

.product .product-details .product-description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
  color: #794141;
}

.product .product-quantity input {
  width: 40px;
}

.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}

.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkoutbtn {
  border-radius: 4px;
  background: #794141;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 7px 45px;
  border: solid 2px #794141;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  float: right;
}

a {
  text-decoration: none;
}

.checkoutbtn:hover, .checkoutbtn:focus {
  background: transparent;
  color: #794141;
  text-decoration: none;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  .column-labels {
    display: none;
  }
  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  .product-price {
    clear: both;
    width: 70px;
  }
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }
  .product-quantity:before {
    content: 'x';
  }
  .product-removal {
    width: auto;
  }
  .product-line-price {
    float: right;
    width: 70px;
  }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  padding: 8px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row2 {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  -webkit-box-flex: 50%;
          flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  -webkit-box-flex: 75%;
          flex: 75%;
}

.col-25, .col-50, .col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 100px 10px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #794141;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #4b3131;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #794141;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4b3131;
}

.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 200px 20px;
}

.contact p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #794141;
}

.contact .labelname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: grey;
  float: left;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
}

header {
  height: 150px;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 60px;
  text-align: center;
}

header .headline {
  float: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  line-height: 50px;
  margin-left: 100px;
  color: #4b3131;
}

header .headline h1 {
  color: #4b3131;
}

header .headline h1 a {
  text-decoration: none;
}

header .nav {
  float: left;
  margin-left: 30px;
  list-style: none;
  line-height: 100px;
}

header .nav li {
  list-style: none;
  display: inline-block;
  margin: 0% 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
}

header .nav li a {
  padding: 10px 15px;
}

header a :hover {
  color: #4b3131;
}

@media screen and (max-width: 650px) {
  header {
    float: center;
  }
}

footer {
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 0%;
  margin-top: 40px;
}

footer .footerline {
  float: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  line-height: 30px;
  margin-left: 100px;
  color: #4b3131;
}

footer .info {
  float: left;
  margin-left: 30px;
  line-height: 30px;
  list-style: none;
}

footer .info li {
  list-style: none;
  margin: 0% 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #794141;
}

footer .sns {
  float: left;
  margin-left: 30px;
  list-style: none;
  line-height: 100px;
}

footer .sns .fa-facebook, footer .sns .fa-twitter, footer .sns .fa-instagram {
  list-style: none;
  display: inline-block;
  margin: 0% 20px;
}

footer .sns .fa-facebook {
  color: blue;
}

footer .sns .fa-twitter {
  color: #3cd7e2;
}

footer .sns .fa-instagram {
  color: #fa62e6;
}

footer .copyright {
  text-align: center;
  color: #794141;
}

@media screen and (max-width: 700px) {
  footer {
    float: center;
  }
}
/*# sourceMappingURL=finalmain.css.map */