h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(75, 49, 49);
    text-align: center;
    text-decoration: underline rgb(121, 65, 65); 
    margin-top: 100px;
}

.coffeemenu {
    text-align: center;
    list-style: none;
    line-height: 50px;

    li {
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(121, 65, 65); 
    }
}

.caffeinefreemenu {
    text-align: center;
    list-style: none;
    line-height: 50px;

    li {
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(121, 65, 65); 
    }
}

.foodmenu {
    text-align: center;
    list-style: none;
    line-height: 50px;

    li {
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(121, 65, 65); 
    }
}


.bakedgoodsmenu {
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin-bottom: 300px;

    li {
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(121, 65, 65); 
    }
}

